
     <div class = "col text-center text-white position-absolut fixed-bottom bg-primary p-md-3">
         BICE
     </div>
     
     
        <scriptsrc="/js/popper.min.js"></script>
        <scriptsrc="/js/bootstrap.min.js"></script>

    </body>

</html>